# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Flask instance folder
instance/

# Flask / Werkzeug debug files
*.log

# SQLite database
*.sqlite3
*.db

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Cache
*.cache
*.pytest_cache/
